{
  "semi": false,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "none",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.tsx", "*.ts", "*.js", "*.jsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
  
}
