.button__submit {
    width: 150px;
    height: 40px;
    background-color: #1145AA;
    border-radius: 15px;
    border: none;
}

.button__submit:hover {
    background-color: #0D3A8B;
}

.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.button__delete {
    width: 150px;
    height: 40px;
    background-color: #FF0000;
    border-radius: 15px;
    border: none;
}

.button__delete:hover {
    background-color: #D50000;
    cursor: pointer;
}