.page {
  background: #fff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center;
  padding: 3rem 4rem 3rem 4rem;
}

.header {
  display: flex;
  flex-direction: row;
  border-bottom: #000 1px solid;
  width: 70%;
  padding: 0 0 1rem 0;
  gap: 2rem;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 70%;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 0 0;
  width: 70%;
}
